//////////////////////////////////////////////////////
// LOGO

.logo {
   height: 3.25rem;
   margin-left: 2rem;
}


//////////////////////////////////////////////////////
// SEARCH
.search {
   align-items: center;
   display: flex;
   flex: 0 0 40%;
   justify-content: center;

   @media only screen and (max-width: $bp-smallest) {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2);
   }

   &__input {
      background-color: var(--color-grey-light-2);
      border-radius: 100px;
      border: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      margin-right: -3.25rem;
      padding: .7rem 2rem;
      transition: all .2s cubic-bezier(.48,-0.09,.35,1.51) ;
      width: 90%;

      &:focus {
         background-color: var(--color-grey-light-3);
         outline: none;
         width: 100%;
      }

      &::-webkit-input-placeholder {
         color: var(--color-grey-light-4);
         font-weight: 100;
      }
   }

   &__input:focus + &__button {
      background-color: var(--color-grey-light-3);
   }

   &__button {
      background-color: var(--color-grey-light-2);
      border: none;

      &:focus {
         outline: none;
      }

      &:active {
         transform: translateY(2px);
      }
   }

   &__icon {
      fill: var(--color-grey-dark-3);
      height: 2rem;
      width: 2rem;
   }
}



//////////////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
   display: flex;
   align-items: center;
   align-self: stretch;

   & > * {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      padding: 0 2rem;
   }

   & > *:hover {
      background-color: var(--color-grey-light-2);
   }

   &__icon-box {
      position: relative;
   }

   &__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-grey-dark-2);
   }

   &__notification {
      background-color: var(--color-primary);
      border-radius: 100px;
      color: #fff;
      font-size: .8rem;
      height: 1.75rem;
      position: absolute;
      right: 1.1rem;
      top: 1.5;
      width: 1.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__user-photo {
      border-radius: 50%;
      height: 3.75rem;
      margin-right: 1rem;
   }
}


//////////////////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
   font-size: 1.4rem;
   list-style: none;
   margin-top: 3.5rem;

   @media only screen and (max-width: $bp-medium) {
      display: flex;
      margin: 0;
   }

   &__item {
      position: relative;

      @media only screen and (max-width: $bp-medium) {
         flex: 1;
         margin: 0 !important;
      }

      &:not(:last-child) {
         margin-bottom: .5rem;
      }
   }

   &__item::before {
      background-color: var(--color-primary);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: scaleY(0);
      transition: transform .2s, 
                  width .4s cubic-bezier(1,0,0,1) .2s, 
                  background-color .1s;
      width: 3px;
   }

   &__item:hover::before,
   &__item--active::before {
      transform: scaleY(1);
      width: 100%;
   }

   &__item:active::before {
      background-color: var(--color-primary-light);
   }
   
   &__link:link,
   &__link:visited {
      color: var(--color-grey-light-1);
      display: block;
      display: flex;
      padding: 1.5rem 3rem;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      z-index: 10;

      @media only screen and (max-width: $bp-medium) {
         justify-content: center;
         padding: 2rem;
      }

      @media only screen and (max-width: $bp-small) {
         flex-direction: column;
         align-items: center;
         padding: 1.5rem .5rem;
      }
   }

   &__icon {
      fill: currentColor;
      height: 1.75rem;
      margin-right: 2rem;
      width: 1.75rem;

      @media only screen and (max-width: $bp-small) {
         margin-right: 0;
         margin-bottom: 7px;
         width: 1.5rem;
         height: 1.5rem;
      }
   }
}


//////////////////////////////////////////////////////
// LEGAL TEXT
.legal {
   color: var(--color-grey-light-4);
   font-size: 1.2rem;
   padding: 2.5rem;
   text-align: center;

   @media only screen and (max-width: $bp-medium) {
      display: none;
   }
}


//////////////////////////////////////////////////////
// LEGAL TEXT
.gallery {
   display: flex;
   &__photo {
      display: block;
      width: 100%;
   }
}


//////////////////////////////////////////////////////
// HOTEL OVERVIEW
.overview {
   align-items: center;
   border-bottom: 1px solid var(--color-grey-light-2);
   display: flex;

   &__heading {
      font-size: 2.25rem;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-small) {
         font-size: 1.8rem;
         padding: 1.25rem 2rem;
      }
   }

   &__stars {
      display: flex;
      margin-right: auto;
   }

   &__icon-star,
   &__icon-location {
      fill: var(--color-primary);
      height: 1.75rem;
      width: 1.75rem;
   }

   &__location {
      display: flex;
      font-size: 1.2rem;
      vertical-align: center;
   }

   &__icon-location {
      margin-right: .5rem;
   }

   &__rating {
      background-color: var(--color-primary);
      color: #fff;
      margin-left: 3rem;
      align-self: stretch;
      padding: 0 2.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media only screen and (max-width: $bp-small) {
         padding: 0 1.5rem;
      } 
   }

   &__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @media only screen and (max-width: $bp-small) {
         font-size: 1.8rem;
      }
   }

   &__rating-count {
      font-size: .8rem;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-small) {
         font-size: .5rem;
      }
   }  
}


//////////////////////////////////////////////////////
// HOTEL OVERVIEW
.btn-inline {
   backface-visibility: hidden;
   background-color: transparent;
   border-bottom: 1px solid currentColor;
   border: none;
   color: var(--color-primary);
   cursor: pointer;
   display: inline-block;
   font-size: inherit;
   padding-bottom: 2px;
   transition: all .2s;

   & span {
      margin-left: 3px;
      transition: margin-left .2s;
   }


   &:hover {
      color: var(--color-grey-dark-1);

      span {
         margin-left: 8px;
      }
   }

   &:focus {
      animation: pulsate 1s infinite;
      outline: none;
   }
}

@keyframes pulsate {
   0% {
      box-shadow: none;
      transform: scale(1);
   }

   50% {
      box-shadow: var(--shadow-primary-small);
      transform: scale(1.05);
   }

   100% {
      box-shadow: none;
      transform: scale(1);
   }
}


//////////////////////////////////////////////////////
// PARAGRAPH
.paragraph:not(:last-of-type) {
   margin-bottom: 2rem;
}



//////////////////////////////////////////////////////
// LIST
.list {
   border-bottom: var(--line);
   border-top: var(--line);
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 3rem 0;
   padding: 3rem 0;

   &__item {
      flex: 0 0 50%;
      margin-bottom: .7rem;
   }

   &__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      margin-right: .7rem;
      width: 1rem;

      // ~~older browsers~~
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;

      // ~~newer browsers : MASKS!~~
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
         -webkit-mask-image: url(../img/chevron-thin-right.svg);
         -webkit-mask-size: cover;
         background-color: var(--color-primary);
         mask-image: url(../img/chevron-thin-right.svg);
         mask-size: cover;
         background-image: none;
      }
   }
}


//////////////////////////////////////////////////////
// RECOMMEND
.recommend {
   align-items: center;
   color: var(--color-grey-dark-3);
   display: flex;
   font-size: 1.3rem;
   justify-content: space-between;

   &__friends {
      display: flex;
   }

   &__photo {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      border: .3rem solid #fff;
      box-sizing: content-box;
      padding-bottom: 0;

      &:not(:last-child) {
         margin-right: -2rem;
      }
   }
}


//////////////////////////////////////////////////////
// REVIEWS
.review {
   background-color: #fff;
   box-shadow: var(--shadow-primary);
   margin-bottom: 3.5rem;
   padding: 3rem;
   position: relative;
   overflow: hidden;

   @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-bottom: 3rem;
   }

   &__text {
      margin-bottom: 2rem;
      z-index: 10;
      position: relative;
   }

   &__user {
      align-items: center;
      display: flex;
   }

   &__photo {
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      margin-right: 1.5rem;
   }

   &__user-box {
      margin-right: auto;
   }

   &__user-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: .4rem;
   }

   &__user-date {
      font-size: 1rem;
      color: var(--color-grey-dark-3);
   }

   &__rating {
      color: var(--color-primary);
      font-size: 2.2rem;
      font-weight: 300;
   }

   &::before {
      content: "\201C";
      position: absolute;
      top: -2.75rem;
      left: -1rem;
      font-size: 20rem;
      color: var(--color-grey-light-2);
      line-height: 1;
      font-family: sans-serif;
      z-index: 1;
   }
}


//////////////////////////////////////////////////////
// CTA
.cta {
   padding: 3.5rem 0;
   text-align: center;

   @media only screen and (max-width: $bp-medium) {
      padding: 2.5rem 0;
   }

   &__book-now {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 2.5rem;
   }
}

.btn {
   background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
   border-radius: 100px;
   border: none;
   color: #fff;
   font-size: 1.5rem;
   font-weight: 300;
   overflow: hidden;
   position: relative;
   text-transform: uppercase;
   cursor: pointer;

   & > * {
      height: 100%;
      display: inline-block;
      width: 100%;
      transition: all .2s;
   }

   &__visible {
      padding: 2rem 7.5rem;
   }

   &__invisible {
      left: 0;
      padding: 2rem 0;
      position: absolute;
      top: -100%;
   }

   &:hover {
      background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
   }

   &:hover &__visible {
      transform: translateY(100%);
   }

   &:hover &__invisible {
      top: 0;
   }

   &:focus {
      outline: none;
      animation: pulsate 1s infinite;
   }
}